<div class="h-screen sm:py-20 -mt-20 relative bg-cover bg-center" style="background-image:url('<%= @main_bg %>')">
    <span class="h-8 w-8 z-20 fixed top-20 sm:top-22 left-4 sm:left-10 border-t-2 border-t-gray-200 border-l-2 border-l-gray-200"></span>
    <span class="h-8 w-8 z-20 fixed top-20 sm:top-22 right-4 sm:right-10 border-t-2 border-t-gray-200 border-r-2 border-r-gray-200"></span>
    <span class="h-8 w-8 z-20 fixed bottom-5 sm:bottom-10 left-4 sm:left-10 border-b-2 border-b-gray-200 border-l-2 border-l-gray-200"></span>
    <span class="h-8 w-8 z-20 fixed bottom-5 sm:bottom-10 right-4 sm:right-10 border-b-2 border-b-gray-200 border-r-2 border-r-gray-200"></span>
    
    
    <!-- Logotype -->
    <%= tag.div class: "flex justify-center pt-20 sm:pt-0" do %>
        <%= image_tag 'PhaybiN-logo-white.webp', alt: 'Phaybin-photographer-Israel',
            class: 'h-[63px] lg:h-[95px] my-3 w-40 lg:w-64'%>
    <% end %>
   
    <div class="absolute bottom-4 lg:bottom-0 ltr:lg:left-10 rtl:lg:right-0 container flex flex-col px-6 py-4 mx-auto space-y-6 lg:flex-row lg:items-center">
        <!-- Title --> 
        <div class="flex items-center justify-center w-full sm:px-6 pb-2 lg:h-[32rem] lg:w-1/2 relative">
            <div class="max-w-xl space-y-6">
                <!-- H1 -->
                <%= tag.h1 t('main_page.h1'), class: "text-4xl font-semibold text-gray-800 dark:text-white lg:text-6xl" %>
                <!-- H2 -->
                <%= tag.h2 t('main_page.h2'), class: "text-2xl text-gray-500 dark:text-gray-200 lg:text-3xl" %>
                <div class="flex justify-start space-x-2 rtl:space-x-reverse">
                    <!-- Portfolio button -->
                    <div class="flex items-center space-x-3 rtl:space-x-reverse">
                        <%= link_to galleries_path, 
                            class: "relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-base font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-gray-400 to-gray-600 group-hover:from-gray-400 group-hover:to-gray-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-800" do %>
                          <%= tag.span t('pages.portfolio'), class: "relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0" %>
                        <% end %>
                    </div>
                    <!-- Contact me button -->
                    <div class="flex items-center space-x-3 rtl:space-x-reverse">
                        <%= link_to '#contact_me', data: {controller: 'scroll-to'},
                            class: "relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-base font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-gray-400 to-gray-600 group-hover:from-gray-400 group-hover:to-gray-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-800" do %>
                          <%= tag.span t('pages.contacts'), class: "relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>