<% currently_at "#{@category.model_name.human} #{@category.title.downcase}" %>
<% provide :page_title, "#{@category.model_name.human} #{@category.title.downcase}" %>

<div class="flex items-center justify-center mb-6">
    <!-- Back -->
    <%= link_to (heroicon "arrow-uturn-left", class: "mr-3 w-6 h-6 dark:text-gray-400 hover:dark:text-gray-300"),
        gallery_path , data: {turbo_frame: '_top'} %>
    <!-- Title -->
    <%= tag.h1 @category.title, 
        class: " text-center text-3xl text-gray-300" %>
</div>
<%= turbo_frame_tag dom_id(@category, :images), class: "container px-4 sm:px-0 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-6" do %>
    <% @images.each do |image| %>
        <%= turbo_frame_tag image do %>
            <div class="relative h-[24rem] md:h-[22rem] w-auto">
                <div class="flex justify-center">
                    <%= link_to image_path(@category, image), data: {turbo_frame: 'modal'}, remote: true do %>
                        <%= image_tag image.variant(:medium), class: "h-[22rem] w-auto object-cover"%>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>
