<% currently_at t('pages.home') %>
<% provide :page_title, t('pages.home') %>


<!-- Main carousel -->
<section class="h-auto">
    <% if device == "mobile" %>
      <%= render 'contents/carousel/mobile_carousel'%>
    <% else %>
      <%= render 'contents/carousel/desktop_carousel'%>
    <% end %>
    
    <!-- Arrow down -->
    <div class="flex justify-center -mt-12">
        <%= link_to '#features' do %>
            <%= heroicon 'chevron-double-down', class: 'w-6 h-6 text-gray-500 hover:text-gray-200'%>
        <% end %>
    </div>
</section>

<!-- Featurese -->
<%= render 'contents/features'%>

<%= render 'contacts/contact_me'%>

