<!-- Password & Security form -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: 'false'}) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>
  
  <!-- Avatar -->
  <div class="flex grid grid-rows-1 text-center items-center justify-center">
    <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 dark:border-gray-700 hover:dark:border-gray-600 border-dashed rounded-md">
      <div class="space-y-1 text-center">
        <%= f.label :avatar, class: "cursor-pointer" do %>
            <% if current_admin.avatar.present?%>
                <%= image_tag(current_admin.avatar_thumb, class: "cursor-pointer object-cover mx-auto h-12 w-12 rounded-full", alt: "avatar") %>
            <% else %>
                <%= heroicon 'photo', class: "mx-auto h-12 w-12 text-gray-700"%>
            <% end %>
            <div class="text-gray-700 mt-1 mb-2 justify-center text-center text-base" data-controller="image" id="Img">
                <%= tag.span current_admin.avatar.present? ? 'Change avatar' : 'Upload avatar', 
                    class: "relative rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
                %>
                    <%= f.file_field :avatar, multiple: false, class: "sr-only", accept: "image/png, image/jpeg, image/jpg", "data-image-target": "input", "data-action": "image#preview" %>
            </div>
            <%= tag.p 'PNG, JPG, GIF up to 10MB', class: "text-xs text-gray-700" %>
        <% end %>
      </div>
    </div>
  </div>
  
  
  <!-- Email input -->
  <div class="mb-6">
     <%= f.label :email, class: "text-lg dark:text-gray-300" %>
     <%= f.email_field :email, autocomplete: "email", 
      class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
      id: "email-input",
      placeholder: "Email address",
      required: false
     %>
  </div>

  <!-- Password input -->
  <div class="mb-6">
    <div class="flex items-center">
        <%= f.label :password, Admin.human_attribute_name('new_password') , class: "text-lg dark:text-gray-300 mr-1" %>
       <% if @minimum_password_length %>
           <!-- Popover button-->
           <%= render 'shared/buttons/popover', icon: (heroicon 'exclamation-circle', class: "text-gray-500 ml-2"), 
               text: "#{Admin.human_attribute_name('password_popover', length: @minimum_password_length)}", popover_id: 'new_password'%>
       <% end %>
    </div>
    <%= f.password_field :password, autocomplete: "new-password",
      class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
      id: "newPassword-input",
      placeholder: Admin.human_attribute_name('new_password'),
      required: false
    %>
  </div>

  <!-- Password confirmation -->
  <div class="mb-6">
     <%= f.label :password_confirmation, class: "text-lg dark:text-gray-300" %>
     <%= f.password_field :password_confirmation, autocomplete: "new-password",
       class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
       id: "passwordConfirmation-input",
       placeholder: Admin.human_attribute_name('password_confirmation'),
       required: false
     %>
  </div>
  
  <!-- Current password -->
  <div class="mb-6">
     <div class="flex items-center">
         <span class="text-red-500 mr-1">&nbsp;*</span>
         <%= f.label :current_password, Admin.human_attribute_name('current_password') , class: "text-lg dark:text-gray-300 mr-1" %>
         <!-- Popover button-->
         <%= render 'shared/buttons/popover', icon: (heroicon 'exclamation-circle', class: "text-gray-500 ml-2"), 
             text: Admin.human_attribute_name('current_popover'), popover_id: 'current_password'%>
     </div>
     <%= f.password_field :current_password, autocomplete: "current_password",
       class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
       id: "currentPassword-input",
       placeholder: Admin.human_attribute_name('current_password'),
       required: true
     %>
     <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
       <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-gray-800" %>
     <% end %>
  </div>
 
  <!-- Buttons -->
  <div class="flex mt-6 grid grid-cols-4">
      <!-- Button Save -->
      <div class="flex justify-start col-span-3 mb-2">
          <%= f.submit t('global.save_btn'), class: "cursor-pointer px-6 py-2 leading-5 text-white transition-colors duration-200 transform  rounded-md  focus:outline-none bg-gradient-to-r from-gray-500 via-gray-600 to-gray-700 hover:bg-gradient-to-br focus:ring-4"%>
      </div>
  </div>  
<% end %>     
 
  <!-- Delete account -->
  <div class="flex justify-end col-span-1 -mt-7">
      <%= link_to admin_registration_path, data: { turbo_method: :delete, turbo_confirm: t('sure_to_del_account') }, class: "justify-end items-center flex mx-0 leading-5 text-gray-700 dark:text-gray-400 hover:dark:text-gray-200" do %>
          <%= heroicon 'trash', class: 'w-5 h-5 mr-2'%>
          <%= Admin.human_attribute_name('delete_account')%>
      <% end %>
  </div>
  

