<!-- Footer -->
<%= provide :footer do %>
    <footer class="backdrop-blur-sm bg-white/60 dark:bg-gray-900/60 border-t dark:border-gray-700 hover:dark:border-gray-600 mt-12">
        <div class="container px-6 py-8 mx-auto relative">
            <!-- Logotype -->
            <div class="flex justify-center">
                <%= link_to root_path, title: 'Phaybin-photographer-Israel', class: "flex justify-center" do %>
                    <%= image_tag 'PhaybiN-logo-white.webp', alt: 'Phaybin-photographer-Israel',
                        class: 'h-14 lg:h-[82px] w-36 lg:w-52'%>
                <% end %>
            </div>
            <!-- Locales -->
            <div class="absolute top-8 ltr:right-8 rtl:left-5">
                <%= render 'shared/locales'%>
            </div>
            
            <hr class="my-6 dark:border-gray-700 md:my-10" />
            <!-- Copyright -->
            <div class="flex flex-col items-center w-full md:relative space-y-2">
                <!-- Location -->
                <p class="mb-4 flex items-center space-x-2 rtl:space-x-reverse">
                    <i class="fa-solid fa-location-dot fa-lg text-gray-600 dark:text-gray-400"></i>
                    <%= tag.span 'Israel, Bat-Yam', class: "mx-2 text-lg text-gray-700 truncate w-auto dark:text-gray-400"%>
                </p>
                <p class="text-gray-700 dark:text-gray-400 text-center font-serif">
                    © Copyright <%= Time.now.strftime('%Y')%>. All Rights Reserved.
                </p>
            </div>
        </div>
    </footer>
<% end%>

