<!-- Footer -->
<%= provide :footer do %>
    <footer class="backdrop-blur-sm bg-white/60 dark:bg-gray-800/60 border-t dark:border-gray-700 hover:dark:border-gray-600 mt-12">
        <div class="container px-6 py-8 mx-auto">
            <div class="text-center">
                <!-- Header -->
                <div class="relative flex items-center justify-between">
                    <!-- Social links -->
                    <div class="flex items-center justify-start space-x-3 rtl:space-x-reverse">
                        <%= render 'shared/navigations/social_links'%>
                    </div>
                    <!-- Logotype -->
                    <%= link_to root_path, title: 'Phaybin-photographer-Israel', class: "flex justify-center" do %>
                        <%= image_tag 'PhaybiN-logo-white.webp', alt: 'Phaybin-photographer-Israel',
                            class: 'h-14 lg:h-[80px] mb-3 w-36 lg:w-52'%>
                    <% end %>
                    <!-- Locales -->
                    <div class="flex justify-end mr-2">
                        <%= render 'shared/locales'%>
                    </div>
                </div>
            </div>

            <hr class="my-6 dark:border-gray-700 md:my-10" />
            <!-- Copyright -->
            <div class="flex flex-col items-center w-full md:relative">
                <%= link_to 'phaybin@phaybin.com', "mailto:phaybin@phaybin.com", data: { turbo_frame: '_top'},
                    class:"text-gray-700 dark:text-gray-400 hover:dark:text-gray-200 md:absolute md:right-0 hover:underline mb-4 md:mb-0"%>
                <p class="text-gray-700 dark:text-gray-400 text-center">© Copyright <%= Time.now.strftime('%Y')%>. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
<% end%>

