<!-- Header -->
<%= provide :navbar do %>
    <header class="bg-white dark:bg-black bg-opacity-90 fixed top-0 z-50 w-full">
        <div class="relative" data-controller="dropdown">
          <div class="w-full mx-auto px-4 sm:px-6">
            <div class="nav-container flex items-center py-4">
              <!-- Mobile menu burger button -->
              <div class="flex justify-center flex-none lg:hidden w-auto">
                <button data-action="dropdown#toggle click@window->dropdown#hide" type="button" class="rounded-lg p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                    <%= heroicon 'bars-3', class: 'h-6 w-6'%>
                </button>
              </div>
              <!-- Main Navigations -->
              <nav class="hidden lg:flex space-x-6">
                  <%= render 'shared/navigations/links_list', 
                      link_class: 'text-base font-medium hover:text-gray-900 hover:dark:text-gray-200', 
                      current_page: current_page %>
              </nav>
              <!-- User menu -->
              <div class="flex items-center justify-end flex-auto w-auto space-x-5">
                  <!-- Locales -->
                  <%= render 'shared/locales'%>
                  <!-- Menu -->
                  <%= render 'admins/shared/admin_menu' if admin_signed_in?%>
              </div>
            </div>
          </div>
          <!-- Mobile menu -->
          <%= render 'shared/navigations/mobile_menu', current_page: current_page %>
        </div>
    </header>
<% end %>