<!-- Gallery categories form -->
<%= turbo_frame_tag dom_id(@gallery, 'form') do %>
    <%= form_with model: [:admins, @gallery], data: {turbo_frame: '_top'}, class: "col-span-full mx-auto mt-4 w-full relative" do |f| %>
        <!-- Error messages -->
        <%= tag.div (render 'shared/messages/error_messages', resource: @gallery), class: 'col-span-full' %>
        <div class="w-full items-center flex grid grid-cols-1 md:grid-cols-4 gap-3">
          <!-- Ru -->
          <div class="flex items-center text-gray-600 dark:text-gray-300 justify-center space-x-2 rtl:space-x-reverse">
              <div class="flex items-center text-center">
                  <%= f.label :ru, 'Ru', class: "text-lg" %>
              </div>
              <%= f.text_field :ru, class: "w-full mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
          </div>
          <!-- En -->
          <div class="flex items-center text-gray-600 dark:text-gray-300 justify-center space-x-2 rtl:space-x-reverse">
              <div class="flex items-center text-center">
                  <%= f.label :en, 'En', class: "text-lg" %>
              </div>
              <%= f.text_field :en, class: "w-full mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
          </div>
          <!-- Uk -->
          <div class="flex items-center text-gray-600 dark:text-gray-300 justify-center space-x-2 rtl:space-x-reverse">
              <div class="flex items-center text-center">
                  <%= f.label :uk, 'Uk', class: "text-lg" %>
              </div>
              <%= f.text_field :uk, class: "w-full mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
          </div>
          <!-- He -->
          <div class="flex items-center text-gray-600 dark:text-gray-300 justify-center space-x-2 rtl:space-x-reverse">
              <div class="flex items-center text-center">
                  <%= f.label :he, 'He', class: "text-lg" %>
              </div>
              <%= f.text_field :he, class: "w-full mr-1 text-gray-700 bg-white border border-gray-300 rounded-md  focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
          </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 mt-4">
            <!-- Avatar -->
            <div class="flex grid grid-rows-1 text-center items-center justify-center">
              <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 dark:border-gray-700 hover:dark:border-gray-600 border-dashed rounded-md">
                <div class="space-y-1 text-center text-gray-700 hover:text-gray-400">
                  <%= f.label :cover_mobile, class: "cursor-pointer" do %>
                      <% if @gallery.cover_mobile.present?%>
                          <%= image_tag(@gallery.cover_mobile.webp.url, alt: "cover-mobile", 
                              class: "cursor-pointer object-cover mx-auto h-12 w-12 rounded-md",) %>
                      <% else %>
                          <%= heroicon 'photo', class: "mx-auto h-12 w-12 text-gray-700"%>
                      <% end %>
                      <div class="text-gray-700 mt-1 mb-2 justify-center text-center text-base" data-controller="image" id="CoverMobile">
                          <%= tag.span t('cover.mobile'), 
                              class: "relative rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
                          %>
                              <%= f.file_field :cover_mobile, multiple: false, class: "sr-only", accept: "image/png, image/jpeg, image/jpg, image/webp", "data-image-target": "input", "data-action": "image#cover_mobile_preview" %>
                      </div>
                      <%= tag.p 'PNG, JPG, WEBP up to 10MB', class: "text-xs" %>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- Avatar -->
            <div class="flex grid grid-rows-1 text-center items-center justify-center">
              <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 dark:border-gray-700 hover:dark:border-gray-600 border-dashed rounded-md">
                <div class="space-y-1 text-center text-gray-700 hover:text-gray-400">
                  <%= f.label :cover_desktop, class: "cursor-pointer" do %>
                      <% if @gallery.cover_desktop.present?%>
                          <%= image_tag(@gallery.cover_desktop.webp.url, alt: "cover-desktop", 
                              class: "cursor-pointer object-cover mx-auto h-12 w-12 rounded-md") %>
                      <% else %>
                          <%= heroicon 'photo', class: "mx-auto h-12 w-12 text-gray-700"%>
                      <% end %>
                      <div class="text-gray-700 mt-1 mb-2 justify-center text-center text-base" data-controller="image" id="CoverDesktop">
                          <%= tag.span t('cover.desktop'), 
                              class: "relative rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
                          %>
                              <%= f.file_field :cover_desktop, multiple: false, class: "sr-only", accept: "image/png, image/jpeg, image/jpg, image/webp", "data-image-target": "input", "data-action": "image#cover_desktop_preview" %>
                      </div>
                      <%= tag.p 'PNG, JPG, WEBP up to 10MB', class: "text-xs" %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
        <div class="flex items-center justify-start mt-4 space-x-3 rtl:space-x-reverse">
          <!-- Button Save -->
          <div class="flex justify-start mb-2">
              <%= f.submit t('global.save_btn'), class: "cursor-pointer px-6 py-2 leading-5 text-white transition-colors duration-200 transform  rounded-md  focus:outline-none bg-gradient-to-r from-gray-500 via-gray-600 to-gray-700 hover:bg-gradient-to-br focus:ring-4"%>
          </div>
          <!-- Button delete -->
          <div class="flex justify-start pb-2">
              <%= link_to t('global.destroy_btn'), admins_gallery_path(@gallery), 
                  data: {turbo_frame: '_top', turbo_method: :delete, turbo_confirm: t('global.are_you_sure')},
                  class: "cursor-pointer px-6 py-2 leading-5 text-white transition-colors duration-200 transform  rounded-md  focus:outline-none bg-gradient-to-r from-red-500 via-red-600 to-red-700 hover:bg-gradient-to-br focus:ring-4" if action_name == 'edit'%>
          </div>
        </div>
    <% end %>
<% end %>