<hr class="">
<div class="flex grid grid-cols-3 p-3">
    <!-- Edit link -->
    <div class="flex items-center justify-start col-span-1">
        <%= link_to edit_path, 
            class: "cursor-pointer p-2 leading-5 text-white transition-colors duration-200 transform rounded-lg bg-gray-100 hover:bg-gray-200 inline-block font-medium",
            data: { turbo_frame: "_top"} do
        %>
            <%= heroicon 'pencil-square', class: 'w-5 h-5'%>
        <% end %>
    </div>
    <!-- Publishe button -->
    <div class="flex justify-center col-span-1 items-center">
        <%= render 'shared/buttons/publish', model: model, publish_path: publish_path%>
    </div>
    <!-- Delete button -->
    <div class="flex justify-end col-span-1 items-center">
        <%= link_to del_path, 
            data: { turbo_method: :delete, turbo_confirm: t('global.are_you_sure') }, class: "justify-end items-center flex mx-0 leading-5 text-gray-900 rounded-lg p-2 bg-gray-100 hover:bg-gray-200 inline-block font-medium" do 
        %>
          <%= heroicon 'trash', class: 'w-5 h-5' %>
        <% end %>
    </div>
</div>