<!-- Contacts info -->
<div class="lg:flex lg:mt-0 lg:flex-col lg:items-center px-4">
    <div class="flex justify-center ">
        <%= image_tag Admin.last.avatar_attachment_path, class: 'h-[12rem] w-[12rem] lg:w-[22rem] lg:h-[22rem] object-cover mx-auto rounded-full lg:block shrink-0 '%>
    </div>
    <!-- Contacts -->
    <div class="mt-6 space-y-8 md:mt-8">
        <!-- Location -->
        <p class="flex items-start -mx-2">
            <%= heroicon 'map-pin', class: 'w-6 h-6 mx-2 text-gray-500 dark:text-gray-400'%>
            <%= tag.span 'Israel, Bat-Yam', class: "mx-2 text-gray-700 truncate w-72 dark:text-gray-400"%>
        </p>
        <!-- Phone -->
        <%= link_to 'tel:+972 52-779-6556', class: "flex items-start -mx-2" do %>
            <%= heroicon 'phone', class: 'w-6 h-6 mx-2 text-gray-500 dark:text-gray-400'%>
            <%= tag.span '+972 52-779-6556', class: "mx-2 text-gray-700 truncate w-72 dark:text-gray-400 hover:dark:text-gray-200 hover:underline"%>
        <% end %>
    </div>
    <!-- Social links -->
    <div class="mt-6 w-80 md:mt-8">
        <h3 class="text-gray-600 dark:text-gray-300 ">Follow me</h3>
        <div class="flex mt-4 space-x-3 rtl:space-x-reverse">
            <%= render 'shared/navigations/social_links'%>
        </div>
    </div>
</div>