<!-- User sign in form -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <!-- Flash messages -->
      <%= render 'admins/shared/error_messages', object: resource%>
      <!-- Email input -->
      <div class="mb-6">
         <%= f.label :email, class: "text-lg text-gray-100" %>
         <%= f.text_field :email, autofocus: true, 
          class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
          id: "email-input",
          placeholder: 'Email',
          required: true 
         %>
      </div>

      <!-- Password input -->
      <div class="mb-6">
          <div class="flex items-center">
              <%= f.label :password, class: "text-lg text-gray-100" %>
              <% if @minimum_password_length %>
                  <!-- Popover button-->
                  <%= render 'shared/buttons/popover', icon: (heroicon 'exclamation-circle', class: "text-gray-500 ml-2"), 
                      text: "#{Admin.human_attribute_name('password_popover', length: @minimum_password_length)}"%>
              <% end %>
          </div>
          <%= f.password_field :password, autocomplete: "new-password",
          class: "text-base form-control block w-full px-4 py-2 mt-1 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
          id: "password-input",
          placeholder: Admin.human_attribute_name('password') ,
          required: true
         %>
      </div>
      
      <!-- Remember me and forgot password -->
      <div class="flex justify-between items-center mb-6">
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: "form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"%>
            <%= f.label :remember_me, t('sign_in.remember_me'), class: "form-check-label inline-block text-gray-300" %>
          </div>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to t('sign_in.forgot'), new_password_path(resource_name), class: "text-gray-300" %>
          <% end %>
      </div>
      
      <!-- Submit button -->
      <div class="text-center lg:text-center">
          <%= f.submit t('sign_in.btn'), class: "w-full text-white bg-gradient-to-r from-gray-700 via-gray-800 to-gray-900 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-gray-300 dark:focus:ring-gray-800 font-medium rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2" %>
      </div>
<% end %>