<%= turbo_frame_tag image do %>
    <div class="grid gap-4">
        <div class="relative">
            <% if admin_signed_in? %>
                <%= link_to gallery_image_path(@gallery, image),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this image?", turbo_frame: '_top' },
                    remote: :true,
                    class: "justify-content-end absolute z-20 bg-gray-100 right-0 rounded-md text-red-700 p-1 m-1" do
                %>
                    <%= heroicon 'minus-circle', class: 'w-6 h-6'%>
                <% end %>
            <% end %>
            
            <%= link_to gallery_image_path(@gallery, image), data: {turbo_frame: 'modal'}, remote: true do %>
                <%= image_tag image.file.medium.url, class: "h-56 w-full object-cover rounded-lg"%>
            <% end %>
        </div>
    </div>
<% end %>