<!DOCTYPE html>
<html class="scroll-smooth"
    lang="<%= response.header['Content-Language']%>" 
    dir="<%= response.header['Content-Language'] == 'he' ? 'rtl' : 'ltr' %>">
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/beb7fb2ec9.js" data-mutate-approach="sync"></script>
  </head>

  <body class="flex flex-col h-screen w-screen justify-between dark:bg-black dark:text-gray-500 font-medium font-serif">
      <%# console %>
      <!-- Header -->
      <%= yield :navbar%>
      <!-- Main -->
      <main class="flex w-full grid grid-flow-row auto-rows-max relative mb-6" id="top">  
          <!-- Flash messages -->
          <% unless ['new', 'create'].include?(action_name) %>
              <%= tag.div (render 'shared/messages/flash_messages'), class: "absolute right-3 sm:right-6 sm:top-3 z-30 sm:max-w-sm", id: "flash_messages"%>
          <% end %>
          <!-- Modal -->
          <%= turbo_frame_tag 'modal'%>
          <!-- Content -->
          <div class="min-h-screen mt-20">
              <%= yield %>
          </div>
      </main>      
      <!-- Footer -->
      <%= yield :footer %>
  </body>
</html>
