<!DOCTYPE html>
<html class="scroll-smooth"
    lang="<%= response.header['Content-Language']%>" 
    dir="<%= response.header['Content-Language'] == 'he' ? 'rtl' : 'ltr' %>">
  <head>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <%= render 'shared/meta/favicon'%>
    
    <!-- CSRF & stylesheets -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Google tag manager -->
    <%= render 'shared/meta/google_tag_head' %>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/beb7fb2ec9.js" data-mutate-approach="sync"></script>
  </head>

  <body class="flex flex-col h-screen w-screen justify-between dark:bg-black dark:text-gray-500">
      <!-- Google Tag Manager (noscript) -->
      <%# render 'shared/meta/google_tag_body' %>
      <!-- Schema json -->
      <%# render 'shared/meta/breadcrumbs_navbar_json'%>
      <%# yield :schema_json %>
      
      <!-- Header -->
      <%= yield :navbar%>
      <!-- Main -->
      <main class="flex w-full grid grid-flow-row auto-rows-max relative mb-6" id="top">  
          <!-- Flash messages -->
          <% unless ['new', 'create'].include?(action_name) %>
              <%= tag.div (render 'shared/messages/flash_messages'), 
                  class: "absolute right-6 top-6 mt-12 z-40 sm:max-w-sm", id: "flash_messages"%>
          <% end %>
          <!-- Modal -->
          <%= turbo_frame_tag 'modal'%>
          <!-- Content -->
          <div class="min-h-screen mt-20">
              <%= yield %>
          </div>
      </main>      
      <!-- Footer -->
      <%= yield :footer %>
  </body>
</html>
