<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col h-screen w-screen justify-between dark:bg-black">
      <!-- Header -->
      <%= yield :navbar%>
      <!-- Main -->
      <main class="flex w-full mt-20 grid grid-flow-row auto-rows-max grid grid-cols-4"  id="top">
          <!-- Profile sidebar -->
          <%= tag.div (render 'admins/shared/admin_profile_sidebar'), class: "col-span-1 w-full hover:shadow-lg" if admin_signed_in?%>
          <div class="w-full col-span-full lg:col-span-3 p-4 relative">
              <!-- Page Navigation -->
              <%= render 'shared/profile_navigation' %>
              <!-- Flash messages -->
              <%= tag.div (render 'shared/messages/flash_messages'), 
                  class: 'absolute right-3 sm:right-6 sm:top-3 z-20 sm:max-w-sm', id: "flash_messages"%>
              <!-- Content -->
              <%= tag.h1 yield(:main_title), class:"mb-6 text-xl font-bold text-gray-700 dark:text-gray-400 capitalize"%>
              <section class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 hover:dark:border-gray-600">
                  <%= yield %>
              </section>
          </div>
      </main>
      <!-- Footer -->
      <%# yield :footer %>
  </body>
</html>
